html, body {
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.pixabay.com/photo/2020/05/29/07/27/abstract-5234092__340.jpg");
  background-size: cover;
}

canvas {

  display: block;
  position:absolute;
  left: 450px;
  top: 100px;
}

.RGB {

  width: 1550px;
  text-align: center;
  font-size: 30px;
}
